body {
    font-family: Arial, sans-serif;
    background-color: #fff4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
}

.table-container {
    height: 630px;
    background: #eeffee;
    padding: 0 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: -5px 15px 5px 15px;
    overflow: auto;
    position: relative;
    display: inline-block;
}

.table-container-2 {
    background: #eeffee;
    padding: 0 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: -5px 15px 5px 15px;
}

.caption-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    background-color: white;
}

.caption-table caption {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
    text-align: left;
}

.caption-table a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s;
}


.caption-table a:hover {
    color: #0056b3;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.caption-table a:active {
    color: #004085;
    transform: scale(0.98);
}

.caption-table sub {
    position: relative;
    bottom: -0.5em;
}

.caption-table sup {
    position: absolute;
}

.caption-table th,
.caption-table td {
    padding: 5px;
    text-align: left;
}

.caption-table th {
    background-color: #007bff;
    color: white;
}

.caption-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.caption-table tr:hover {
    background-color: #eaeaea;
}



.bordered-table {
    border: 1px solid #333333;
}

.bordered-table th,
.bordered-table td {
    border: 1px solid #004085;
}

.bordered-table td {
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.caption-table sub,
.caption-table sup {
    font-size: 12px;
    font-weight: bold;
}

.bordered-table th {
    background-color: green;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

#alert-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: none;
}

.alert-message {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}


.tip {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #666666;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group label {
    flex: 1 1 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

.form-group input,
.form-group button {
    flex: 1 1 100%;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
}

.form-group button:hover {
    opacity: 0.9;
}

.form-group button:active {
    transform: scale(0.95);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px;
}

.form-row label {
    flex: 1 1 100px;
    margin: 5px 0;
}

.form-row input[type="text"],
.form-row input[type="number"],
.form-row input[type="checkbox"] {
    flex: 1 1 80px;
    padding: 5px;
    margin: 5px;
}

.form-row button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form-row button:hover {
    background-color: #0056b3;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.input-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px;
}

.label-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: -14%;
    margin-top: 5px;
}

.btn-blue {
    background-color: #007bff;
    color: white;
    border-radius: 8px;
}

.btn-blue:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
    .form-group,
    .form-row {
        flex-direction: column;
    }

    .form-row label,
    .form-row input[type="text"],
    .form-row input[type="number"],
    .form-row input[type="checkbox"] {
        flex: 1 1 100%;
    }

    .form-row button {
        width: 100%;
    }
}
