<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chemical Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
<div class="container">
    <h1>Chemical Form</h1>
    <form method="POST" action="/calculate">
        {% for i in range(n) %}
        <div class="form-row">
            <div class="form-column">
                <label>
                    <span>Name:</span>
                    <input type="text" name="elementName{{ i }}" value="{{ element_data[i]['name'] }}" readonly>
                </label>
                <label>
                    <span>Content:</span>
                    <input type="number" name="elementContent{{ i }}" value="{{ element_data[i]['content'] }}" step="0.01" required>
                </label>
                <label>
                    <span>Molecular Weight:</span>
                    <input type="number" name="molecularWeight{{ i }}" step="0.01" required>
                </label>
            </div>
            <div class="form-column">
                <label>
                    <span>Oxidation State A1:</span>
                    <input type="checkbox" name="oxidationA{{ i }}_1" checked onchange="toggleColumn(this, 'A{{i}}1')">
                </label>
                <label>
                    <span>Magnetic Moment A1:</span>
                    <input type="number" name="A{{i}}1magneticMoment" step="0.01">
                </label>
                <label>
                    <span>Radii A1:</span>
                    <input type="number" name="A{{i}}1radii" step="0.01">
                </label>
            </div>
            <div class="form-column">
                <label>
                    <span>Oxidation State A2:</span>
                    <input type="checkbox" name="oxidationA{{ i }}_2" checked onchange="toggleColumn(this, 'A{{i}}2')">
                </label>
                <label>
                    <span>Magnetic Moment A2:</span>
                    <input type="number" name="A{{i}}2magneticMoment" step="0.01">
                </label>
                <label>
                    <span>Radii A2:</span>
                    <input type="number" name="A{{i}}2radii" step="0.01">
                </label>
            </div>
            <div class="form-column">
                <label>
                    <span>Oxidation State B1:</span>
                    <input type="checkbox" name="oxidationB{{ i }}_1" checked onchange="toggleColumn(this, 'B{{i}}1')">
                </label>
                <label>
                    <span>Magnetic Moment B1:</span>
                    <input type="number" name="B{{i}}1magneticMoment" step="0.01">
                </label>
                <label>
                    <span>Radii B1:</span>
                    <input type="number" name="B{{i}}1radii" step="0.01">
                </label>
            </div>
            <div class="form-column">
                <label>
                    <span>Oxidation State B2:</span>
                    <input type="checkbox" name="B{{i}}2oxidation" checked onchange="toggleColumn(this, 'B{{i}}2')">
                </label>
                <label>
                    <span>Magnetic Moment B2:</span>
                    <input type="number" name="B{{i}}2magneticMoment" step="0.01">
                </label>
                <label>
                    <span>Radii B2:</span>
                    <input type="number" name="B{{i}}2radii" step="0.01">
                </label>
            </div>
        </div>
        {% endfor %}
        <div class="form-column">
            <label>
                <span>Saturation Magnetization:</span>
                <input type="number" name="saturationMagnetization" step="0.01">
            </label>
            <label>
                <span>Lattice Constant:</span>
                <input type="number" name="latticeConstant" step="0.01">
            </label>
            <label>
                <span>Initial Gauss:</span>
                {% for j in range(4 * n) %}
                <input type="number" name="initialGauss{{ j }}" step="0.01">
                {% endfor %}
            </label>
            <label>
                <span>Radii of Oxygen (default = 1.28 Å):</span>
                <input type="number" name="radiiOxygen" value="1.28" step="0.01">
            </label>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
