<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='socket/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Comma Separated List Input</title>
</head>
<body>
<div id="alert-container"></div>
<div class="container" id="storedDataContainer">
    {% for message in get_flashed_messages() %}
    {{message}}
    {% endfor %}
    <div class="table-container">
        {% if enumerated_cd_list %}
        {% for i, data in enumerated_cd_list %}
        <table class="caption-table">
            <caption><a href="{{ url_for('output', i=i) }}">{{data.label|safe}}</a></caption>
            <tr>
                <td>A site</td>
                <td>
                    [{% for j, a in enumerate(data.site_a) %}
                    {% if a %}
                    {{data.names[j//4]}}
                    <sup>
                        {% if j%2 %}
                        3+
                        {% else %}
                        2+
                        {% endif %}
                    </sup>
                    <sub>{{a}}</sub>
                    {% endif %}
                    {% endfor %}]
                </td>
            </tr>
            <tr>
                <td>B site</td>
                <td>
                    ({% for j, b in enumerate(data.site_b) %}
                    {% if b %}
                    {{data.names[j//2]}}
                    <sup>
                        {% if j%2 %}
                        3+
                        {% else %}
                        2+
                        {% endif %}
                    </sup>
                    <sub>{{b}}</sub>
                    {% endif %}
                    {% endfor %})
                </td>
            </tr>
            <tr>
                <td>n<sub>B</sub><sup>th</sup></td>
                <td>{{data.mue_th}}</td>
            </tr>
            <tr>
                <td>a<sub>th</sub></td>
                <td>{{data.a_th}}</td>
            </tr>
        </table>
        {% endfor %}
    </div>
    <div class="form-group">
        <input type="button" class="btn-blue" value="summarize" onclick=location.href="{{ url_for('result_table')}}">
    </div>
    {% endif %}
</div>
<div class="container">
    <h1>Cation Distribution</h1><br><br>
    <form method="post">
        <label for="text_input" class="tip">Enter a comma-separated list:
            element1,content1,element2,content2,...,elementn,contentn</label>
        <br>
        <label for="text_input" class="tip">Example: Co,1,Fe,2</label>
        <div class="form-group">
            <input type="text" id="text_input" name="text_input" required>
            <input type="submit" value="Submit">
        </div>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</div>
</body>
</html>
