<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<h2>{{ title }}</h2>
<table>
    <thead>
    <tr>
        <th>Site A</th>
        <th>Site B</th>
        <th>Element Name</th>
        <th>Label</th>
        <th>Name</th>
        <th>Theoretical a</th>
        <th>Experimental a</th>
        <th>Theoretical μ<sub>e</sub></th>
        <th>Experimental μ<sub>e</sub></th>
        <th>Ro</th>
    </tr>
    </thead>
    <tbody>
    {% for cd in cd_list %}
    <tr>
        <td>{{ cd.site_a }}</td>
        <td>{{ cd.site_b }}</td>
        <td>{{ cd.e_name }}</td>
        <td>{{ cd.label }}</td>
        <td>{{ cd.name }}</td>
        <td>{{ cd.a_th }}</td>
        <td>{{ cd.a_exp }}</td>
        <td>{{ cd.mue_th }}</td>
        <td>{{ cd.mue_exp }}</td>
        <td>{{ cd.R_O }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>